<!DOCTYPE html>
<html lang="en">
<head>
	<title>All course</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		
		td{
			width: 180px;
			height: 180px;

		}
		.col-sm-2{
			width: 180px;
			height: 200px;
			
		}
		.col-sm-7{
			width: 240px;
			height: 200px;
			border-radius: 5px; 
			background-color: #DCDCDC;
			padding-left: 40px;
			
		}
		
	</style>
</head>
<body>
	<div class="container">
		
		<!---------------------------------------
		           -------------------我是华丽的分割线，这里是all course的主体部分-------
		           ------------------------------------------------------------------------------>

		           <!--这里是大字All course的部分-->
		           <div class="d-flex justify-content-center">
		           	<h1>All course</h1>
		           </div>
		           <hr>

		           <!--主体内容-->

		           <div>
		           	<ul class="nav nav-tabs" id="myTab" role="tablist">
		           		<li class="nav-item">
		           			<a class="nav-link active" id="course-tab" data-toggle="tab" href="#course" role="tab" aria-controls="course" aria-selected="true"><font style="font-size: 12px"><b>Course</b></font></a>
		           		</li>
		           		<li class="nav-item">
		           			<a class="nav-link" id="coordinator-tab" data-toggle="tab" href="#coordinator" role="tab" aria-controls="coordinator" aria-selected="false"><font style="font-size: 12px"><b>Coordinator</b></font></a>
		           		</li>

		           	</ul>

		           	<!--Course的内容-->
		           	<div class="tab-content" id="myTabContent">
		           		<div class="tab-pane fade show active" id="course" role="tabpanel" aria-labelledby="course-tab">
		           			<div class="row">
		           				<div class="col-sm-2">
		           					<img src="http://pic1.qqmofasi.com/2015/06/06/1793_DfpZf0HOI0g0OzhG0gpF_square.jpg" class="rounded mx-auto d-block" style="width: 100px; height: 100px;"><br>
		           					<p class="text-center" style="font-size: 14px"><b>Coordinato name: Andy Song</b></p>

		           				</div>
		           				
		           				<div class="col-sm-7" >
		           					<br>
		           					<p style="font-size: 20px; color: #0000CD;"><b>Rpid Application Development</b></p>
		           					<p>Prerequisite: Web Programming</p>
		           					<p>Category: Web Development</p>
		           					<p>Location: 14.10.31	14.08.26</p>
		           					<p>Creasted: 15 days ago</p>
		           					<p class="text-right">大拇指1，小拇指2</p>
		           					
		           				</div>
		           			</div>
		           			<br>
		           			<hr>
		           			<div class="row">
		           				<div class="col-sm-2">
		           					<img src="http://pic1.qqmofasi.com/2015/06/06/1793_DfpZf0HOI0g0OzhG0gpF_square.jpg" class="rounded mx-auto d-block" style="width: 100px; height: 100px;"><br>
		           					<p class="text-center" style="font-size: 14px">Coordinato name: Andy Song</p>

		           				</div>
		           				
		           				<div class="col-sm-7" >
		           					<br>
		           					<p style="font-size: 20px; color: #0000CD;">Capstone Project</p>
		           					<p>Prerequisite: Advanced Programming</p>
		           					<p>Category: Full Stack Dev</p>
		           					<p>Location: 14.10.31</p>
		           					<p>Creasted: 5 minutes ago</p>
		           					<p class="text-right">大拇指1，小拇指2</p>

		           				</div>
		           			</div>
		           			<br>
		           			<hr>
		           			<div class="row">
		           				<div class="col-sm-2">
		           					<img src="http://pic3.qqmofasi.com/2015/06/06/1793_uexxQjT5J5PpIjsReTV3_square.jpg" class="rounded mx-auto d-block" style="width: 100px; height: 100px;"><br>
		           					<p class="text-center" style="font-size: 14px">Coordinato name: Alex Jiang</p>

		           				</div>
		           				
		           				<div class="col-sm-7" >
		           					<br>
		           					<p style="font-size: 20px; color: #0000CD;">Advanced iOS/OSX Programming</p>
		           					<p>Prerequisite: 3 years iOS or relevant experience</p>
		           					<p>Category: iOS Engineering</p>
		           					<p>Location: 14.10.30</p>
		           					<p>Creasted: 8 days ago</p>
		           					<p class="text-right">大拇指1，小拇指2</p>

		           				</div>
		           			</div>
		           		</div>




		           		<!--Coordinator的内容-->
		           		<div class="tab-pane fade" id="coordinator" role="tabpanel" aria-labelledby="coordinator-tab">
		           			<div class="d-flex justify-content-center ">
		           				<table>
		           					<tr>
		           						<td>
		           							<img src="http://pic1.qqmofasi.com/2015/06/06/1793_DfpZf0HOI0g0OzhG0gpF_square.jpg"><br>
		           							<p class="d-flex justify-content-center ">Coordinato name: Andy Song</p>
		           						</td>
		           					</tr>
		           					<tr>
		           						<td>
		           							<img src="http://pic3.qqmofasi.com/2015/06/06/1793_uexxQjT5J5PpIjsReTV3_square.jpg" class="rounded mx-auto d-block"><br>
		           							<p class="d-flex justify-content-center ">Coordinato name: Alex Jiang</p>
		           						</td>
		           					</tr>
		           					<tr>
		           						<td>
		           							<img src="http://pic1.qqmofasi.com/2015/06/06/1793_DfpZf0HOI0g0OzhG0gpF_square.jpg" class="rounded mx-auto d-block"><br>
		           							<p class="d-flex justify-content-center ">Coordinato name: Ali Yavari</p>
		           						</td>
		           					</tr>
		           				</table>
		           			</div>
		           		</div>

		           	</div>
		           </div>


		       </div>
		   </body>
		   </html>