<!DOCTYPE html>
<html  lang="en">
<head>
	<title>Guest page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 这行代码是屏幕自适应 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<


			<!--第二部分-->
			<div class="dierbufen" style="background-color:#E2E2E2;">
				<br>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center"><h1>Welcome to Your Course App</h1></div>
					<div class="col-md-1"></div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">This is the home page for the RAD Assignment 2</div>
					<div class="col-md-1"></div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center"><button type="button" class="btn btn-danger">Sign up now</button></div>
					<div class="col-md-1"></div>
				</div>
				<br>
			</div>
			<br>

			 <!---------------------------------------------------------------------
			 	-----------------------------第三部分---------------------------------------------------->

			 	<div class="disanbufen">
			 		<div class="row">
			 			<div class="col-md-3">
			 				<h5>View Course as Guest User</h5>
			 				<p>Browse and view course as a guest and sign up later</p>
			 				<button style="height: 30px">Browse all courses</button>
			 			</div>
			 			<div class="col-md-3">
			 				<h5>Sign in to your account</h5>
			 				<p>Update your courses, rate courses, view coordinator informations</p>
			 				<button style="height: 30px">Log in your account</button>
			 			</div>
			 			<div class="col-md-3"></div>
			 		</div>
			 	</div>
			 	<br>
			 	
	<!-------------------------------------------------------------------
		-----------------------第四部分-------------------------------------------------->
		<div class="disibufen" style="background-color:#E2E2E2;">
			<div class="row" style="padding-left: 10px">
				
				<div class="col-md-3">
					<h5>Contact us</h5>
					<form action="/action_page.php" style="position: relative;">
						<span><input type="text" name="Name" style="width: 250px" value="" placeholder="Name"></span>
						<input type="text" name="Email" style="width: 250px" value="" placeholder="Email"><br>
						<textarea type="text" name="Mesaage" style="height: 100px;width: 250px; position:relative;margin-top: 0"  placeholder="Mesaage" ></textarea> <br>

						<input  type="submit" value="submit" style="position:relative;float:right ">
					</form>
				</div>
				<div class="col-md-2" style="padding-left: 20px">
					<h5>General inquires</h5>
					<span>Andy Song</span><br>
					<span>Junliang Jiang</span><br>
					<span>Ali</span><br>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<h5>Useful Liks</h5>
					<span>RMIT COURSE</span><br>
					<span>RMIT Help Desk</span><br>
					<span>RMIT International</span><br>
				</div>
				<div class="col-md-1" ></div>
				<div class="col-md-2" >
					<h5>Media</h5>
					<span>Youtube</span><br>
					<span>Twitter</span><br>
					<span>Facebook</span><br>
					<span>Instagram</span><br>
					<span>Skype</span><br>
				</div>
				
			</div>
			<br>




			<!-------------------------------------------------------------------------->
			<div class="row" style="padding-left: 10px">
				
				<div class="col-md-3">
					<span>Tel:0123456789</span><br>
					<span>Fax:0123456</span><br>
					<span>junliang.jiang@rmit.edu.au</span>

				</div>

			</div>
			<br>

		</div>


	</div>
</body>
</html>