<!DOCTYPE html>
<html lang="en">
<head>
	<title>login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<!---------------------------------------------
			------------------------- 导航栏部分 (navba) -----------------------------------
			--------------------------------------------------->
			<div class="navbar navbar-expand-lg navbar-light">
				<button class="btn btn-info" style="background-color:;"><font color="white" style="font-size: 25px"><b>YOURCOURSE</b></font></button>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
			<div class="collapse navbar-collapse justify-content-end align-self-end" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<!--导航栏的具体内容-->
					<li class="nav-item dropdown active">
						<button class="btn btn-info dropdown-toggle" type="button" style="background-color:" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-screenshot"></span><font style="font-size: 12px"><b> Catrgory</b></font></button>

						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Web Development</a>
							<a class="dropdown-item" href="#">Java</button>
								<a class="dropdown-item" href="#">Full Stack Dev</a>
								<a class="dropdown-item" href="#">iOS Engineering</a>
							</div>
						</li>

						<li>
							<p>&nbsp &nbsp &nbsp</p>
						</li>

						<li class="nav-item dropdown active">
							<button class="btn btn-info dropdown-toggle" style="background-color:" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class='glyphicon glyphicon-new-window'></span><font style="font-size: 12px"><b> Location</b></font></button>

							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<button class="dropdown-item" href="#">14.10.31</button>
								<button class="dropdown-item" href="#">14.08.26</button>
								<button class="dropdown-item" href="#">14.10.30</button>
							</div>
						</li>
						<li>
							<p>&nbsp &nbsp &nbsp</p>
						</li>

						<li class="nav-item dropdown active">
							<button class="btn btn-info" style="background-color:" id=""  aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><font style="font-size: 12px"><b> Login</b></font></button>
						</li>
					</ul>
				</div>

			</div>
		</body>
		</html>